# The deployment url e.g. https://my.domain.com/ (required)
DEPLOYMENT_URL=

# The port on which the moderated meetings webserver will listen
# PORT=8080

# The private key file that will be used to sign tokens e.g. jitsi-private.der (required)
PRIVATE_KEY_FILE=

# The kid value that will be used for the jwt token header (required)
PRIVATE_KEY_ID=

# The tenant to be used for the moderated meetings, or can be skipped then the deployment will be used without any tenant
# TARGET_TENANT=moderated

# If enabled the users will be redirected to external service for authentication which will
# return back to moderated meetings providing a token via url param (?jwt=). Supports url param state
# TOKEN_AUTH_URL=https://my.auth.service.com/signin.html?state={state}

# The URL which can be used to download the public keys that will validate the jwt token
# that is provided by the authentication service from TOKEN_AUTH_URL.
# The endpoint provides a json file where kid is matched to a certificate file in pem format
# JWT_PUB_KEYS_CACHE_URL=

# A json with additional values to be checked when verifying the token provided by the authentication service TOKEN_AUTH_URL
# issuer and audience is supported e.g.
# JWT_VERIFY='{"issuer":"jitsi","audience":"meet-jitsi"}'
# JWT_VERIFY=

# Amplitude key to be used for analytics from the client
# AMPLITUDE_KEY=

# Custom Facebook link to be used
# FB_LINK=https://www.facebook.com/jitsi

# Custom Github link to be used
# GITHUB_LINK=https://github.com/jitsi

# Custom Linkedin link to be used
# LINKED_IN_LINK=https://www.linkedin.com/groups/133669

# Custom Twitter link to be used
# TWITTER_LINK=https://twitter.com/jitsinews

# Custom App Store link to be used
# APP_STORE_LINK=https://apps.apple.com/us/app/jitsi-meet/id1165103905

# Custom F-Droid link to be used
# FDRIOD_LINK=https://f-droid.org/en/packages/org.jitsi.meet

# Custom Play Store link to be used
# PLAY_STORE_LINK=https://play.google.com/store/apps/details?id=org.jitsi.meet

