@use "sass:color";

@import 'reset.css';
@import 'ui-kit.scss';
@import 'variables.scss';

#jitsi-moderated-meetings {
    align-items: stretch;
    color: $text;
    flex: 1;

    main {
        align-items: stretch;
        color: $main-text;
        margin: 24px 0;

        .content-box-section {
            padding: 24px 0;
        }
    }

    #footer-wrapper {
        max-width: 688px;
        padding: 40px 0;

        .line-wrapper {
            align-items: center;
            flex-direction: row;

            >span,
            >p {
                font-size: .75em;
            }

            p {
                flex: 1;
            }

            &#copyright {
                justify-content: flex-start;

                > a {
                    margin-right: 32px;
                }

                > div > span {
                    opacity: .6;
                    font-size: .75em;
                    line-height: 16px;
                }
            }

            #mobile-links {
                align-items: stretch;
                flex-direction: row;
                margin-left: 10px;

                > a {
                    margin: 0 5px;

                    > img {
                        height: 100%;
                    }
                }
            }

            #legal-links {
                >a {
                    color: $text;
                    font-weight: 500;
                    margin-right: 15px;
                    text-decoration: none;
                }
            }

            #social-wrapper {
                flex-direction: row;

                >a {
                    cursor: pointer;
                    margin: 0 12px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #jitsi-moderated-meetings {
        #footer-wrapper {
            padding: 20px 0;

            .line-wrapper {
                flex-direction: column;

                > * {
                    margin: 5px 0;
                }

                #mobile-links {
                    flex-direction: row;
                }
            }
        }
    }
}