@import 'variables.scss';

* {
    box-sizing: border-box;
}

body {
    background: white;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: $base-font-size;
    font-weight: 300;
    letter-spacing: -0.006em;
    min-height: 100vh;
}

button {
    border: none;
    color: $text;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: .9em;
    justify-content: center;
    outline: none;

    &.primary {
        align-self: stretch;
        background-color: $button-primary;
        border-radius: 4px;
        padding: 11px;
    }

    &.text {
        align-self: center;
        background: none;
    }
}

div,
footer,
header,
main {
    display: flex;
    flex-direction: column;
}

footer {
    align-items: center;
    background: $footer;
}

footer,
header,
main {
    padding: 24px;
}

h1 {
    font-size: 2.2em;
    font-weight: 400;
    line-height: 3em;
}

header {
    background: $gradient-from;
    background: linear-gradient(180deg, $gradient-from 0%, $gradient-to 100%);
    padding: 32px 40px;

    #header-description {
        align-self: center;
        max-width: $content-width;
    }
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;

    &.main-separator {
        border-top-color: #868B94;
        margin: 10px;
        opacity: .4;
    }
}

input {
    flex: 1;
    font-family: 'Open Sans', sans-serif;
}

label {
    font-size: .9em;
}

main {
    align-items: stretch;
    align-self: center;
    flex: 1;
    flex-direction: column;
    width: $content-width;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

.centered {
    text-align: center;
}

.copy-field-wrapper {
    background: #F2F3F4;
    border-radius: 4px;
    flex-direction: row;
    margin: 8px 0;
    padding: 8px 12px;
    transition: all .3s;

    button {
        align-items: center;
        background: none;
        border: none;
        flex: 1;
    }

    input {
        background: none;
        border: none;
        color: $main-text;
        font-size: 1em;
        font-weight: 300;
        pointer-events: none;
        text-overflow: ellipsis;
    }

    svg {
        fill: $main-icon
    }

    .copied-message {
        align-items: center;
        display: none;
        flex: 1;
        flex-direction: row;

        > span {
            flex: 1;
            text-align: left;
        }
    }

    .copy-message {
        align-items: center;
        color: white;
        display: none;
        flex: 1;
    }

    &:hover {
        background: #36383C;

        svg {
            fill: white;
        }
    }

    &:hover, &.copied {
        input {
            display: none;
        }

        .copy-message {
            display: flex;
        }
    }

    &.copied {
        background: #2ABB53;
        color: white;

        input, .copy-icon, .copy-message {
            display: none;
        }

        .copied-message {
            display: flex;
        }
    }
}

.store-badge-wrapper {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 5px;

    img {
        object-fit: contain;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
        line-height: 2em;
    }

    header {
        padding: 16px 15px;
    }
}