// Colors

$base-font-size: 16px;
$button-primary: #0072DB;
$footer: #191D29;
$gradient-from: #053379;
$gradient-to: #0070AE;
$main-icon: #5E6D7A;
$main-text: rgba(19, 21, 25, 0.87);
$text: white;

// Sizes

$content-width: 480px;
